.audioContainer {
  display: flex;
  gap: 2rem;
  border: 2px solid #006efa;
  border-radius: 10px;
  align-items: center;
  padding: 2rem;
  width: 28rem;
  background: linear-gradient(-140deg, #19e4ff, #006efa 40%, #1e54ef);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

#smallLogo {
  height: 5rem;
  width: 5rem;
  background-color: lightgray;
  border-radius: 100%;
}
