.stationContainer {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  background: linear-gradient(-140deg, #19e4ff, #006efa 40%, #1e54ef);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #006efa;
  width: 28rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#globalLogoLarge {
  width: 20rem;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .stationContainer {
    width: 80%;
    padding: 1rem;
  }
}
